.container {
    text-align: center;
    background-color: #F8F5F2;
    
    .tituloJuego {
      font-size: 24px;
      font-weight: bold;
      padding: 10px;
      background-color: #6D4C41;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
    
    .card {
      // Estilos para la tarjeta
    }
    
    .card-body {
      // Estilos para el contenido de la tarjeta
    }
    
    .card-footer {
      // Estilos para el pie de la tarjeta
    }
    
    .btn {
      // Estilos para los botones
    }
  }
  