<div class="container">
  <h1 class="tituloJuego">Juego del Ahorcado</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <app-ingresar-palabra *ngIf="componenteJugar"></app-ingresar-palabra>
          <app-agregar-palabra *ngIf="componenteAgregar"></app-agregar-palabra>
        </div>
        <div class="card-footer">
          <button (click)="agregarPalabras()" class="btn btn-primary" *ngIf="componenteJugar" type="button">Agregar Palabras Nuevas</button>
          <button (click)="regresarJuego()" class="btn btn-primary" *ngIf="componenteAgregar" type="button">Regresar al Juego</button>
        </div>
      </div>
    </div>
  </div>
</div>

